@model Shibir
@{
    string title = ViewBag.Action + " Shibir";
    ViewData["Title"] = title;
}

<h2>@title</h2>


<form asp-action="Edit" method="post" autocomplete="off">
    <input type="hidden" asp-for="Id" />
    <div class="form row">
        <div class="form-group col-lg-6">
            <label asp-for="FirstName" class="required"></label>
            <input type="text" asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-6">
            <label asp-for="LastName" class="required"></label>
            <input type="text" asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-4">
        <div class="form-group col-lg-6">
            <label asp-for="PhoneNumber" class="required"></label>
            <input type="text" asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-6">
            <label asp-for="EmailAddress" class="required"></label>
            <input type="text" asp-for="EmailAddress" class="form-control" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>

    </div>
    <h3>Shibir Details</h3>
    <hr />
    <div class="form row">
        <div class="form-group col-lg-4">
            <label asp-for="StartDate" class="required"></label>
            <input asp-for="StartDate" id="datepicker" type="text" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4">
            <label asp-for="StartTime" class="required"></label>
            <input type="time" asp-for="StartTime" class="form-control" />
            <small class="form-text text-muted">Time when you want to Start shibir</small>
            <span asp-validation-for="StartTime" class="text-danger"></span>
        </div>
        
    </div>
    <div class="row">
        <div class="form-group col-lg-4">
            <label asp-for="ShibirName" class="required"></label>
            <div class="col-md-10">
                <select asp-for="ShibirName" class="form-select" asp-items="Html.GetEnumSelectList<ShibirName>()">
                    <option selected="selected" value="">Please select</option>
                </select>
            </div>
            <span asp-validation-for="ShibirName" class="text-danger" />
        </div>
        <div class="form-group col-lg-4">
            <label asp-for="Capacity" class="required"></label>
            <input type="number" asp-for="Capacity" class="form-control" />
            <small class="form-text text-muted">Number of sadhaks that can sit in hall</small>
            <span asp-validation-for="Capacity" class="text-danger"></span>
        </div>
    </div>
    
    <h4>Address</h4>
    <hr />
    <div class="form row">
            <div class="form-group col-lg-3">
                <label asp-for="Address" class="required"></label>
                <input type="text" asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-3">
                <label asp-for="PinCode" class="required"></label>
                <input type="text" asp-for="PinCode" class="form-control" />
                <span asp-validation-for="PinCode" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-3">
                <label asp-for="Latitude"></label>
                <input type="text" asp-for="Latitude" class="form-control" />
                <small class="form-text text-muted">You can obtain from Google Maps</small>
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-3">
                <label asp-for="Longitude"></label>
                <input type="text" asp-for="Longitude" class="form-control" />
                <small class="form-text text-muted">You can obtain from Google Maps</small>
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
        </div>

        <div class="form row" id="AddressDropdowns">
            <div class="form-group col-lg-3">
                <label asp-for="StateName" class="required"></label>
@*                <select asp-for="StateName" class="form-control">
                    <option value="">Select option</option>
                </select>*@
                <input asp-for="StateName" type="text" class="form-control">
                <span asp-validation-for="StateName" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-3">
                <label asp-for="DistrictName" class="required"></label>
@*            <select asp-for="DistrictName" class="form-control">
                    <option value="">Select option</option>
                </select>*@
                <input asp-for="DistrictName" type="text" class="form-control">
            <span asp-validation-for="DistrictName" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-3">
                <label asp-for="TalukaName" class="required"></label>
               @* <select asp-for="TalukaName" class="form-control">
                    <option value="">Select option</option>
                </select>*@
            <input asp-for="TalukaName" type="text" class="form-control">
            <span asp-validation-for="TalukaName" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-3">
                <label asp-for="CityName" class="required"></label>
           @* <select asp-for="CityName" class="form-control">
                    <option value="">Select option</option>
                </select>*@
            <input asp-for="CityName" type="text" class="form-control">
            <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
        </div>


  @*  <div class="form row">

        <div class="form-group col-lg-3">
            <label asp-for="CountryName" class="required"></label>
            <input type="text" asp-for="CountryName" class="form-control" />
            <span asp-validation-for="CountryName" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3">
            <label asp-for="StateName" class="required"></label>
            <input type="text" asp-for="StateName" class="form-control" />
            <span asp-validation-for="StateName" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3">
            <label asp-for="DistrictName" class="required"></label>
            <input type="text" asp-for="DistrictName" class="form-control" />
            <span asp-validation-for="DistrictName" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3">
            <label asp-for="TalukaName" class="required"></label>
            <input type="text" asp-for="TalukaName" class="form-control" />
            <span asp-validation-for="TalukaName" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3">
            <label asp-for="CityName" class="required"></label>
            <input type="text" asp-for="CityName" class="form-control" />
            <span asp-validation-for="CityName" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3">
            <label asp-for="PinCode" class="required"></label>
            <input type="text" asp-for="PinCode" class="form-control" />
            <span asp-validation-for="PinCode" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3">
            <label asp-for="Latitude"></label>
            <input type="text" asp-for="Latitude" class="form-control" />
            <small class="form-text text-muted">You can obtain from Google Maps</small>
            <span asp-validation-for="Latitude" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3">
            <label asp-for="Longitude"></label>
            <input type="text" asp-for="Longitude" class="form-control" />
            <small class="form-text text-muted">You can obtain from Google Maps</small>
            <span asp-validation-for="Longitude" class="text-danger"></span>
        </div>
    </div>*@
   
    <h4>Contacts</h4>
    <hr/>
    <div class="form row">
        <div class="form-group col-lg-6">
            <label asp-for="SanchalakName1" class="required"></label>
            <input type="text" asp-for="SanchalakName1" class="form-control" />
            <small class="form-text text-muted">Only alphabets and space</small>
            <span asp-validation-for="SanchalakName1" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3">
            <label asp-for="SanchalakEmail1" class="required"></label>
            <input type="text" asp-for="SanchalakEmail1" class="form-control" />
            <span asp-validation-for="SanchalakEmail1" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3">
            <label asp-for="SanchalakPhoneNumber1" class="required"></label>
            <input type="text" asp-for="SanchalakPhoneNumber1" class="form-control" />
            <small class="form-text text-muted">Length must be 10 digits</small>
            <span asp-validation-for="SanchalakPhoneNumber1" class="text-danger"></span>
        </div>
    </div>

    <div class="form row">
        <div class="form-group col-lg-6">
            <label asp-for="SanchalakName2"></label>
            <input type="text" asp-for="SanchalakName2" class="form-control" />
            <small class="form-text text-muted">Only alphabets and space</small>
            <span asp-validation-for="SanchalakName2" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3">
            <label asp-for="SanchalakEmail2"></label>
            <input type="text" asp-for="SanchalakEmail2" class="form-control" />
            <span asp-validation-for="SanchalakEmail2" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3">
            <label asp-for="SanchalakPhoneNumber2"></label>
            <input type="text" asp-for="SanchalakPhoneNumber2" class="form-control" />
            <small class="form-text text-muted">Length must be 10 digits</small>
            <span asp-validation-for="SanchalakPhoneNumber2" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-success">@(Model?.Id != null ? "Save Changes" : "Register")</button>
    <a href="@Url.Action("Index", "DhyanKendra", new { area = "" })" class="btn btn-primary">Cancel</a>
</form>

@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}

@*@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cascading-dropdown/1.2.9/jquery.cascadingdropdown.min.js"></script>

    <script>

        var stateId = @(Model?.StateId != null ? $"{Model.StateId}" : "null");
        var districtId = @(Model?.DistrictId != null ? $"{Model.DistrictId}" : "null");
        var talukaId = @(Model?.TalukaId != null ? $"{Model.TalukaId}" : "null");
        var cityId = @(Model?.CityId != null ? $"{Model.CityId}" : "null");

        $('#AddressDropdowns').cascadingDropdown({
            selectBoxes: [
                {
                    selector: '#StateId',
                    paramName: 'id',
                    source: function (request, response) {
                        $.getJSON('/api/data2/states?id=76', request, function (data) {
                            response($.map(data, function (item, index) {
                                return {
                                    label: item.Name,
                                    value: item.Id,
                                    selected: item.Id == stateId
                                };
                            }));
                        });
                    }
                },
                {
                    selector: '#DistrictId',
                    requires: ['#StateId'],
                    paramName: 'id',
                    source: function (request, response) {
                        $.getJSON('/api/data2/districts', request, function (data) {
                            response($.map(data, function (item, index) {
                                return {
                                    label: item.Name,
                                    value: item.Id,
                                    selected: item.Id == districtId
                                };
                            }));
                        });
                    }
                },
                {
                    selector: '#TalukaId',
                    requires: ['#StateId', '#DistrictId'],
                    requireAll: true,
                    paramName: 'id',
                    source: function (request, response) {
                        $.getJSON('/api/data2/talukas', request, function (data) {
                            response($.map(data, function (item, index) {
                                return {
                                    label: item.Name,
                                    value: item.Id,
                                    selected: item.Id == talukaId
                                };
                            }));
                        });
                    }
                },
                {
                    selector: '#CityId',
                    requires: ['#StateId', '#DistrictId', '#TalukaId'],
                    requireAll: true,
                    paramName: 'id',
                    source: function (request, response) {
                        $.getJSON('/api/data2/villages', request, function (data) {
                            response($.map(data, function (item, index) {
                                return {
                                    label: item.Name,
                                    value: item.Id,
                                    selected: item.Id == cityId
                                };
                            }));
                        });
                    }
                }
            ]
        });

    </script>
}*@
@*
    @section Header
    {
    <style>
        label.required::after {
            color: red;
            content: " *";
        }
    </style>*@

